@import url("https://fonts.googleapis.com/css2?family=Anton&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    /* -----Generic colour  Header */
    color: black;
    font-family: "Rubik", sans-serif;
}
header {
    background: url("../css/images/abstract-art.jpg");
background-position: center;

}
#socials {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0;
    margin-bottom: -8px;
}
#socials li {
list-style-type: none;
}
#socials li a {
    color: #0ea3f3;
    font-size: 1.5rem;
}